@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --important_color: red;
}

html, body {
    margin: 0;
    padding: 0;
}

p{
  display: inherit;
}

.inside_grid_small{
  height: 10em;
}

.inside_grid_medium{
  height: 25em;
}

.inside_grid_big{
  height: 40em;
}

.auto_overflow_scroll {
  max-height: 20em;
  overflow-y: auto;
}

#important_text{
  color: var(--important_color);
}

@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}


/*
 * bootstrap5 is directly insert in the main page
 */
